.DS_Store
*.swp
*.vim
*.swo
# INFO(nvm): ignoring working directories
nvm/.nvm/versions/*
nvm/.nvm/alias/*
nvm/.nvm/.cache/*
nvm/.nvm/nvm.sh
nvm/.nvm/nvm-exec
# INFO(tmux): ignoring working directories
tmux/.config/tmux/plugins/*
# INFO(karabiner): ignore automatic backups
karabiner/.config/karabiner/automatic_backups/*
