[submodule "apps/hammerspoon/Spoons/Hyper.spoon"]
	path = hammerspoon/.hammerspoon/Spoons/Hyper.spoon
	url = git@github.com:evantravers/Hyper.spoon.git
[submodule "apps/hammerspoon/Spoons/WindowManager.spoon"]
	path = hammerspoon/.hammerspoon/Spoons/WindowManager.spoon
	url = git@github.com:mikemimik/WindowManager.spoon.git
[submodule "apps/complete-alias"]
	path = complete-alias
	url = git@github.com:cykerway/complete-alias.git
