{
  "extends": "oclif",
  "rules": {
    "array-bracket-spacing": ["error", "always"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "functions": "only-multiline"
    }],
    "comma-spacing": ["error", {
      "before": false,
      "after": true
    }],
    "indent": ["error", 2, {
      "flatTernaryExpressions": true
    }],
    "object-curly-spacing": ["error", "always"],
    "operator-linebreak": ["error", "after", {
      "overrides": {
        ":": "before"
      }
    }],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "space-in-parens": ["error", "never"],
    "quotes": ["error", "single", {
      "avoidEscape": true
    }]
  },
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  }
}
