<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.customct.EmailAddresses</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>050C2684-A68E-4E71-9082-5357B8FF926A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8A7FBB2-6890-4249-8623-F757005C82E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>05C0FED1-4753-4614-9D84-D1BA37F6B111</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>249282B1-8553-42B1-9DCC-0526015F4B67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0A7714D6-1908-4CDA-A40D-429358C2310A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>049909F9-CA30-4E07-90E3-FE553A6B055D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2EAD259A-56F2-48E9-B37C-231CA8412C0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A737FEA-F399-4A75-862A-FFE09F181C78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFABD1E1-6F9A-4C99-843A-426FD55B8CA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>249282B1-8553-42B1-9DCC-0526015F4B67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>841A0BE9-D64F-42B0-B8DE-BCE0DCDD56A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29F84617-4486-4859-B9C0-DD59E8A32E4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70B17D46-0840-4255-AC31-78BFA32C36E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4878A4F1-7695-4C84-88B0-BFBF6CAD4904</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88077CCA-6C3C-4B8D-8DFB-FE962B18AE12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59A9F655-F9C2-4172-A867-D7E80905AAD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83094FC9-EA41-4E74-BFAC-D746BAF3893D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A38914A-94BF-4DB7-993B-0E23DEB5FECC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59A9F655-F9C2-4172-A867-D7E80905AAD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>29F84617-4486-4859-B9C0-DD59E8A32E4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4878A4F1-7695-4C84-88B0-BFBF6CAD4904</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A737FEA-F399-4A75-862A-FFE09F181C78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B06E44C-C3AF-4E41-A469-3F2EF1A2D1BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86013B0F-0C65-4EAF-BB45-52A171D5E00C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EE02B3D8-697E-49E1-8E37-4F97B477E787</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6321A152-D354-49D9-9A83-96F6E736C557</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>777BEB57-D1F9-4ECE-9054-762A3B6A0C77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70B17D46-0840-4255-AC31-78BFA32C36E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4725F64-06AC-4402-8564-A70641CBDCD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>777BEB57-D1F9-4ECE-9054-762A3B6A0C77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F5B63F7-8C98-4E9D-84FC-FDB419A1BE78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4DB8AE5A-85EB-41B4-95B1-2DF3B5A75D78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>821D9094-196D-4B1D-A39D-9BFCE29C3E85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>821D9094-196D-4B1D-A39D-9BFCE29C3E85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ED1DBBF-336F-4DC9-AF5A-AABC9D15A58D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83094FC9-EA41-4E74-BFAC-D746BAF3893D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05C0FED1-4753-4614-9D84-D1BA37F6B111</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>841A0BE9-D64F-42B0-B8DE-BCE0DCDD56A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B79EEC69-D903-4AA1-B8D7-C20DC192A4A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86013B0F-0C65-4EAF-BB45-52A171D5E00C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07581256-7FF5-4AB0-A484-8C48C936F621</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88077CCA-6C3C-4B8D-8DFB-FE962B18AE12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4725F64-06AC-4402-8564-A70641CBDCD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9ED1DBBF-336F-4DC9-AF5A-AABC9D15A58D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A7714D6-1908-4CDA-A40D-429358C2310A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>050C2684-A68E-4E71-9082-5357B8FF926A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B06E44C-C3AF-4E41-A469-3F2EF1A2D1BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B79EEC69-D903-4AA1-B8D7-C20DC192A4A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6321A152-D354-49D9-9A83-96F6E736C557</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4725F64-06AC-4402-8564-A70641CBDCD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ED1DBBF-336F-4DC9-AF5A-AABC9D15A58D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE02B3D8-697E-49E1-8E37-4F97B477E787</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DC5E4BA-42EF-43DA-B774-1DF453588BFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFABD1E1-6F9A-4C99-843A-426FD55B8CA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4725F64-06AC-4402-8564-A70641CBDCD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8A7FBB2-6890-4249-8623-F757005C82E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06F400A6-AB39-415D-AB10-63644DE427FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Richard Guay</string>
	<key>description</key>
	<string>A workflow for saving and retrieving email addresses.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Email Addresses</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Email Addresses Workflow</string>
				<key>text</key>
				<string>What is the first name?</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>05C0FED1-4753-4614-9D84-D1BA37F6B111</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Email Addresses Workflow</string>
				<key>text</key>
				<string>What is the last name?</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>841A0BE9-D64F-42B0-B8DE-BCE0DCDD56A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>emails.txt</string>
				<key>filetext</key>
				<string>{var:firstName}|{var:lastName}|{var:email}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>4F5B63F7-8C98-4E9D-84FC-FDB419A1BE78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Email Addresses Workflow</string>
				<key>text</key>
				<string>What is the email address?</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6321A152-D354-49D9-9A83-96F6E736C557</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>firstName</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>249282B1-8553-42B1-9DCC-0526015F4B67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>lastName</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B79EEC69-D903-4AA1-B8D7-C20DC192A4A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:firstName} {var:lastName} &lt;{query}&gt;</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>email</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>777BEB57-D1F9-4ECE-9054-762A3B6A0C77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>add</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>59A9F655-F9C2-4172-A867-D7E80905AAD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>add</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>83094FC9-EA41-4E74-BFAC-D746BAF3893D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Saved the new email address.</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4DB8AE5A-85EB-41B4-95B1-2DF3B5A75D78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Add a New Email","arg":"add","subtitle":"Email Addresses"},{"title":"Email a user","arg":"email","subtitle":"Email Addresses"},{"title":"Delete an Address","arg":"delete","subtitle":"Email Addresses"},{"title":"Show Email Address","arg":"show","subtitle":"Email Addresses"}]</string>
				<key>keyword</key>
				<string>em</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Email Addresses Workflow</string>
				<key>title</key>
				<string>Select what you want to do with your emails</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>5A38914A-94BF-4DB7-993B-0E23DEB5FECC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>049909F9-CA30-4E07-90E3-FE553A6B055D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>email</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>821D9094-196D-4B1D-A39D-9BFCE29C3E85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>show</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0A7714D6-1908-4CDA-A40D-429358C2310A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2EAD259A-56F2-48E9-B37C-231CA8412C0F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading addresses...</string>
				<key>script</key>
				<string>query = ARGV[0]

print '{"items": ['

count = 0

IO.readlines("#{ENV['alfred_workflow_data']}/emails.txt").each { |line|
    if line.downcase.include?(query.downcase)
        parts = line.split("|")
        if count != 0
            print ","
        end
        print "{\"uid\": \"EAWF#{count}\","
        print "\"arg\": \"#{parts[0]} #{parts[1]} &lt;#{parts[2].chomp}&gt;\","
        print "\"valid\": true,"
        print "\"autocomplete\": \"#{parts[0]} #{parts[1]} &lt;#{parts[2].chomp}&gt;\","
        print "\"title\": \"#{parts[0]} #{parts[1]} &lt;#{parts[2].chomp}&gt;\","
        print "\"subtitle\": \"Email Addresses Workflow\","
        print "\"icon\": \"icon.png\""
        print "}"
        count += 1
    end
}

print "]}"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Email Addresses Workflow</string>
				<key>title</key>
				<string>Select an Email Address</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E4725F64-06AC-4402-8564-A70641CBDCD0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>delete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>29F84617-4486-4859-B9C0-DD59E8A32E4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>9ED1DBBF-336F-4DC9-AF5A-AABC9D15A58D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>delete</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>70B17D46-0840-4255-AC31-78BFA32C36E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query = ARGV[0].sub(/^[^\&lt;]*/,'').sub(/\&lt;/,'').sub(/\&gt;/,'')

newFile = []

IO.readlines("#{ENV['alfred_workflow_data']}/emails.txt").each { |line|
	if line.match("#{query}") == nil
		newFile.push(line)
	end
}

IO.write("#{ENV['alfred_workflow_data']}/emails.txt", newFile.join("\n"))

print query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F8A7FBB2-6890-4249-8623-F757005C82E8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Email is Removed.</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>06F400A6-AB39-415D-AB10-63644DE427FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>email</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>88077CCA-6C3C-4B8D-8DFB-FE962B18AE12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>email</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>4878A4F1-7695-4C84-88B0-BFBF6CAD4904</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>delete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>050C2684-A68E-4E71-9082-5357B8FF926A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>show</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1A737FEA-F399-4A75-862A-FFE09F181C78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>show</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EFABD1E1-6F9A-4C99-843A-426FD55B8CA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>mailto:{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>07581256-7FF5-4AB0-A484-8C48C936F621</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:emailclient}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>default</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>86013B0F-0C65-4EAF-BB45-52A171D5E00C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>email</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5B06E44C-C3AF-4E41-A469-3F2EF1A2D1BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/open -a "/Applications/Let.ter.app" "mailto:{query}";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8DC5E4BA-42EF-43DA-B774-1DF453588BFB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:emailclient}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>Let.ter.app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EE02B3D8-697E-49E1-8E37-4F97B477E787</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow is created by Richard Guay. Visit http://customct.com/alfred-2-workflows for even more fun!

This workflow is an example of many of the new features in Alfred 3. It allows you to maintain a small CSV file of email addresses to use in writing emails.

The commands defined are:

email
This is the entry point for working with this workflow.</string>
	<key>uidata</key>
	<dict>
		<key>049909F9-CA30-4E07-90E3-FE553A6B055D</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>050C2684-A68E-4E71-9082-5357B8FF926A</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Delete Action</string>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>05C0FED1-4753-4614-9D84-D1BA37F6B111</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Get the first name of the new address.</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>06F400A6-AB39-415D-AB10-63644DE427FF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Tell the user.</string>
			<key>xpos</key>
			<integer>1150</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>07581256-7FF5-4AB0-A484-8C48C936F621</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1150</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>0A7714D6-1908-4CDA-A40D-429358C2310A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Show Action</string>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>1A737FEA-F399-4A75-862A-FFE09F181C78</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Send an email.</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>249282B1-8553-42B1-9DCC-0526015F4B67</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Save the first name into firstName variable.</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>29F84617-4486-4859-B9C0-DD59E8A32E4B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Delete an email.</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>2EAD259A-56F2-48E9-B37C-231CA8412C0F</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>4878A4F1-7695-4C84-88B0-BFBF6CAD4904</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Send an email.</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>4DB8AE5A-85EB-41B4-95B1-2DF3B5A75D78</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Tell the user is was saved.</string>
			<key>xpos</key>
			<integer>1350</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>4F5B63F7-8C98-4E9D-84FC-FDB419A1BE78</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Add to the emails.txt file in the data directory.</string>
			<key>xpos</key>
			<integer>1350</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>59A9F655-F9C2-4172-A867-D7E80905AAD0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Add an email.</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>5A38914A-94BF-4DB7-993B-0E23DEB5FECC</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>5B06E44C-C3AF-4E41-A469-3F2EF1A2D1BF</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Email Action</string>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>6321A152-D354-49D9-9A83-96F6E736C557</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Get the email address.</string>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>70B17D46-0840-4255-AC31-78BFA32C36E6</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Empty out the input.</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>777BEB57-D1F9-4ECE-9054-762A3B6A0C77</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Save the email into the email variable.</string>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>821D9094-196D-4B1D-A39D-9BFCE29C3E85</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Make the action into an email action.</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>83094FC9-EA41-4E74-BFAC-D746BAF3893D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Empty out the input.</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>841A0BE9-D64F-42B0-B8DE-BCE0DCDD56A4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Get the last name of the new address.</string>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>86013B0F-0C65-4EAF-BB45-52A171D5E00C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Default Applicatin using the mailto: protocal</string>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>88077CCA-6C3C-4B8D-8DFB-FE962B18AE12</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Empty out the input.</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>8DC5E4BA-42EF-43DA-B774-1DF453588BFB</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1150</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>9ED1DBBF-336F-4DC9-AF5A-AABC9D15A58D</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>B79EEC69-D903-4AA1-B8D7-C20DC192A4A8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Save the last name into lastName variable.</string>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>E4725F64-06AC-4402-8564-A70641CBDCD0</key>
		<dict>
			<key>note</key>
			<string>Get an email from the stored list of emails.</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>EE02B3D8-697E-49E1-8E37-4F97B477E787</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Let.ter Application</string>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>EFABD1E1-6F9A-4C99-843A-426FD55B8CA6</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Empty out the input.</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>F8A7FBB2-6890-4249-8623-F757005C82E8</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Remove the email from the CSV list.</string>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>emailclient</key>
		<string>mail</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>emailclient</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>http://customct.com/alfred-2-workflows</string>
</dict>
</plist>
