<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.orionsbelt.jira-ticket</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2B84FF89-87CA-4F2E-A686-8CFE41F2AB67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CF6DE8E-E00D-4EA2-B786-BE1ED348C273</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>451D5038-BEC6-4A7F-8B44-3648EA0D3706</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63DAE87E-E64D-43A0-B2B7-3D4E643CDE0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CF6DE8E-E00D-4EA2-B786-BE1ED348C273</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E69D7D4-9396-4032-A5BE-F95144C16172</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>451D5038-BEC6-4A7F-8B44-3648EA0D3706</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63DAE87E-E64D-43A0-B2B7-3D4E643CDE0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>451D5038-BEC6-4A7F-8B44-3648EA0D3706</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84E1AD76-C501-4811-87ED-4B81C81A13B7</key>
		<array/>
		<key>9A3385D6-ADFC-4967-915D-C6277C7356FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E69D7D4-9396-4032-A5BE-F95144C16172</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A36BA0D0-ADB0-4980-9C25-38C857C2AE2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7BA4BF3-8E6B-49FD-BFE7-C806608FF939</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A582117D-5307-4601-A2CF-54629A74A03C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>451D5038-BEC6-4A7F-8B44-3648EA0D3706</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD8CF924-E9E5-49A0-8574-0090D074DF18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A36BA0D0-ADB0-4980-9C25-38C857C2AE2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDCE9945-4EDB-4801-BB71-29DAE4EE5908</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B84FF89-87CA-4F2E-A686-8CFE41F2AB67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BD8CF924-E9E5-49A0-8574-0090D074DF18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC3A33B8-1BD7-4B68-9424-D46449B6E3F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BF5CC144-F4FB-4FF2-9A43-FE7CF4909F59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF5CC144-F4FB-4FF2-9A43-FE7CF4909F59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A3385D6-ADFC-4967-915D-C6277C7356FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC3A33B8-1BD7-4B68-9424-D46449B6E3F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1D3EC8A-F229-4D18-B7E7-4D443F16AF5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7BA4BF3-8E6B-49FD-BFE7-C806608FF939</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>451D5038-BEC6-4A7F-8B44-3648EA0D3706</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1D3EC8A-F229-4D18-B7E7-4D443F16AF5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A582117D-5307-4601-A2CF-54629A74A03C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Perrotte</string>
	<key>description</key>
	<string>Open jira project ticket</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JIRA Ticket Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>84E1AD76-C501-4811-87ED-4B81C81A13B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Opening ticket for '{query}'</string>
				<key>text</key>
				<string>TFS - Tooling Jira Ticket</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"KES Project","arg":"kes","subtitle":"CICF-TS KES Project"},{"title":"TFS - Tooling","arg":"tfst","subtitle":"TFS Team Project"},{"title":"TFS - Support","arg":"tfss","subtitle":"TFS Support Queue"},{"title":"HackAuthOn 21","arg":"hack21","subtitle":"Hackathon Project"}]</string>
				<key>keyword</key>
				<string>jira</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Select a project</string>
				<key>title</key>
				<string>Open JIRA ticket from a project</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>BDCE9945-4EDB-4801-BB71-29DAE4EE5908</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>url</key>
					<string>https://{var:company}.atlassian.net/browse/{var:project.uppercase}-{var:ticket}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>63DAE87E-E64D-43A0-B2B7-3D4E643CDE0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ticket</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>451D5038-BEC6-4A7F-8B44-3648EA0D3706</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>project</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4CF6DE8E-E00D-4EA2-B786-BE1ED348C273</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>tfst</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2B84FF89-87CA-4F2E-A686-8CFE41F2AB67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Opening ticket for '{query}'</string>
				<key>text</key>
				<string>TFS - Support Project</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E7BA4BF3-8E6B-49FD-BFE7-C806608FF939</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>tfss</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BD8CF924-E9E5-49A0-8574-0090D074DF18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>project</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A36BA0D0-ADB0-4980-9C25-38C857C2AE2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Opening ticket for '{query}'</string>
				<key>text</key>
				<string>HackAuthOn Project</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A582117D-5307-4601-A2CF-54629A74A03C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>project</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F1D3EC8A-F229-4D18-B7E7-4D443F16AF5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>hack21</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DC3A33B8-1BD7-4B68-9424-D46449B6E3F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Opening ticket for '{query}'</string>
				<key>text</key>
				<string>KES Project</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4E69D7D4-9396-4032-A5BE-F95144C16172</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>kes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BF5CC144-F4FB-4FF2-9A43-FE7CF4909F59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>project</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9A3385D6-ADFC-4967-915D-C6277C7356FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A workflow for accessing jira tickets accross multiple projects. Simply type 'jira' to access the list of projects that are setup, then type to search the list. Press enter on the project, then enter the ticket number. This will open the ticket in your preferred browser.</string>
	<key>uidata</key>
	<dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>2B84FF89-87CA-4F2E-A686-8CFE41F2AB67</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>451D5038-BEC6-4A7F-8B44-3648EA0D3706</key>
		<dict>
			<key>note</key>
			<string>Capture Ticket Number</string>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>4CF6DE8E-E00D-4EA2-B786-BE1ED348C273</key>
		<dict>
			<key>note</key>
			<string>Clear input</string>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>4E69D7D4-9396-4032-A5BE-F95144C16172</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>63DAE87E-E64D-43A0-B2B7-3D4E643CDE0B</key>
		<dict>
			<key>note</key>
			<string>URL Composition</string>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>84E1AD76-C501-4811-87ED-4B81C81A13B7</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>9A3385D6-ADFC-4967-915D-C6277C7356FA</key>
		<dict>
			<key>note</key>
			<string>Clear input</string>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>A36BA0D0-ADB0-4980-9C25-38C857C2AE2D</key>
		<dict>
			<key>note</key>
			<string>Clear input</string>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>A582117D-5307-4601-A2CF-54629A74A03C</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>BD8CF924-E9E5-49A0-8574-0090D074DF18</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>BDCE9945-4EDB-4801-BB71-29DAE4EE5908</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>BF5CC144-F4FB-4FF2-9A43-FE7CF4909F59</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>DC3A33B8-1BD7-4B68-9424-D46449B6E3F8</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>E7BA4BF3-8E6B-49FD-BFE7-C806608FF939</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>F1D3EC8A-F229-4D18-B7E7-4D443F16AF5A</key>
		<dict>
			<key>note</key>
			<string>Clear input</string>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>company</key>
		<string>auth0team</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
